<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="seleniumdemo.BatchFileThree"/>
      <class name="seleniumdemo.BatchFileTwo"/>
      <class name="seleniumdemo.SkipTestCase"/>
      
      <class name="seleniumdemo.TestNgTesting"/>
      <class name="seleniumdemo.AnnotationFacebook"/>
      <class name="seleniumdemo.BatchFileOne"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
